<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Small Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/small-business.css" rel="stylesheet">

</head>

<body>
  {% block cuerpo %}

  {% endblock %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/nueva_pagina">PParking</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/nueva_pagina">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="static/pablo.png" alt="">
      </div>
      <!-- /.col-lg-8 -->

      <!-- /.col-md-4 -->
    </div>

    <!-- /.row -->



    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Puestos disponibles</h2>
            <p class="card-text">Clic aquí para conocer los puestos disponibles</p>
          </div>
          <div class="card-footer">
            <a href="/disponibles" class="btn btn-primary btn-sm">Consultar</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Base de datos de clientes</h2>
            <p class="card-text">Clic aquí para ver los clientes registrados</p>
          </div>
          <div class="card-footer">
            <a href="/clientes" class="btn btn-primary btn-sm">Ver clientes</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Historial</h2>
            <p class="card-text">Clic aquí para ver el historial del parqueadero</p>
          </div>
          <div class="card-footer">
            <a href="/historial" class="btn btn-primary btn-sm">Ver historial</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

    <!-- /.row -->



  </div>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; PabloParking 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
